/*reset universal de css*/
* {
    box-sizing: border-box; /*Para que todos los elementos queden alineados en su contenedor*/
    margin: 0;
    padding: 0;
  }
  
  /*Estilos globales */
  
  /*?Para margen en las seciones"*/
  .conteiner {
    max-width: 90%;
    margin: 0 auto; /* del 90 % margen 0 arriba y abajo. Y en los lados "auto" para que quede "centrado"*/
  }
  
  /* !Selector de elementos. Se aplica en automatico al elemento sin "declararlo" */
  body {
    font-family: "Montserrat", sans-serif;
  }

  /*Secciones-Contenedores*/

/*HEADER Y NAVEGACIÓN*/
header {
  background-color: #193d7d;
  color: white;
  padding: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo1 img {
  max-width: 330px;
}

ul li {
  list-style: none; /*Elimina el formato de lista*/
}

.nav-hover:hover {
  /*Efectos en la barra de navegación*/
  scale: 1.08;
  cursor: pointer;
}